html {
	padding:0px!important;
	}
body.login { background-color:#3d444b!important;}
body.login div#login { width: 500px!important;}
body.login div#login h1 {}
body.login div#login h1 a {
    background-image: url(../images/login-logo.png)!important;
	background-size: 255px 52px!important;
	width: 255px!important;
	height:52px!important;
	margin: 0 auto!important;
}
body.login div#login form#loginform,body.login div#login form#lostpasswordform { background: none!important; box-shadow:none!important; -webkit-box-shadow:none!important; border:0px none!important;}
body.login div#login form#loginform p label,body.login div#login form#lostpasswordform p label { color:#fff!important;}
body.login div#login form#loginform input,body.login div#login form#loginform input#user_login,body.login div#login form#loginform input#user_pass,body.login div#login form#lostpasswordform input,body.login div#login form#lostpasswordform input#user_login,body.login div#login form#lostpasswordform input#user_pass {border:0px none!important; padding:10px!important; -webkit-border-radius: 8px!important;
-moz-border-radius: 8px!important;
border-radius: 8px!important;
}
body.login div#login form#loginform p.forgetmenot,body.login div#login form#lostpasswordform p.forgetmenot {color:#fff!important;margin-bottom:15px!important; float:none!important;}
body.login div#login form#loginform p.forgetmenot input#rememberme,body.login div#login form#lostpasswordform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit,body.login div#login form#lostpasswordform p.submit {overflow:hidden!important;}
body.login div#login form#loginform p.submit input[type=submit]#wp-submit,body.login div#login form#lostpasswordform p.submit input[type=submit]#wp-submit {
-webkit-border-radius: 8px!important;
-moz-border-radius: 8px!important;
border-radius: 10px!important;
background: #e07f36!important;
color: #fff!important;
padding: 15px!important;
font-size: 18px!important;
line-height:18px!important;
font-weight:bold!important;
box-shadow:none!important;
-webkit-box-shadow:none!important;
text-shadow:none!important;
display: block!important;
cursor: pointer!important;
margin: 0px!important;
border: 0px none!important;
font-family: Arial,Sans-serif!important;
text-transform: uppercase!important;
box-sizing: border-box!important;
-moz-box-sizing: border-box!important;
width: 100%!important;
text-align: center!important;
height:44px!important;
}
body.login div#login form#loginform p.submit input#wp-submit:hover,body.login div#login form#lostpasswordform p.submit input#wp-submit:hover {
background-color: #98450d!important;
-o-transition: .5s!important;
-ms-transition: .5s!important;
-moz-transition: .5s!important;
-webkit-transition: .5s!important;
transition: .5s!important;
}

body.login div#login p#nav {color:#fff!important; text-shadow:none!important;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;text-align: center;}
body.login div#login p#nav a {color:#fff!important;}
body.login div#login p#nav a:hover {color:#ee8c3f!important;}
body.login div#login p#backtoblog { color:#fff!important;text-shadow:none!important; float:right!important;}
body.login div#login p#backtoblog a {color:#fff!important;}
body.login div#login p#backtoblog aLhover {color:#ee8c3f!important;}
body.login div#login p#nav a, body.login div#login p#nav a:hover, body.login div#login p#nav a:active, body.login div#login p#nav a:focus {color:#fff!important;text-shadow:none!important;}
input[type=checkbox]:checked:before {margin: -10px 0 0 -11px!important;}